<div class="transition no-select mentee gender-{{ Gender }} country-{{toLowerCase Country }}" draggable="true">
	<span class='name'>{{toTitleCase Name }}</span>
	<span class='state'>{{toTitleCase State }} / {{ Country }}</span>
	<span class='languages'>{{formatLanguages Languages }}</span>
</div>