<div class="transition no-select mentor gender-{{ Gender }} country-{{toLowerCase Country }}">
	<div class='header'>
		<span class="name">{{toTitleCase Name }}</span>
		<span class='mentee-count'>{{ MenteesList.length }}</span>
	</div>
	<div class='details'>
		<div class='state'>{{toTitleCase State }} / {{ Country }}</div>
		<div class='languages'>{{formatLanguages Languages }}</div>
	</div>
	<div class='mentee-list-container'>

	</div>
</div>