<!DOCTYPE html>
<html>
<head>
	<meta property="og:title"
         content="Festember '15 SnapChallenge!" />
    <meta property="og:site_name" content="Festember 15"/>
    <meta property="og:url"
         content="https://festember.com/snapchallenge" />
    <meta property="og:description" content="Festember SnapChallenge! is a contest where people upload their selfies, we put the pics on snapchat, and the pic with highest number of screenshots wins!"/>
    <meta property="og:type"   content="website" />
    <meta property="og:image"  content="https://festember.com/15/cms/templates/f15_landing/image/logo.png" />
    <meta property="og:image:alt"  content="Festember"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@festember">
    <meta name="twitter:title" content="Festember '15 SnapChallenge!">
    <meta name="twitter:description" content="Festember SnapChallenge! is a contest where people upload their selfies, we put the pics on snapchat, and the pic with highest number of screenshots wins!">
    <meta name="twitter:image" content="https://festember.com/15/cms/templates/f15_landing/image/logo.png">
	
	<title>Festember 2015 | SnapChallenge!</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" type="text/css" href="/snapchallenge/stylesheets/main.css">
</head>
<body>
	<div id="bg">
		<img src="/snapchallenge/images/background/1.jpg">
		<img src="/snapchallenge/images/background/2.jpg">
		<img src="/snapchallenge/images/background/3.jpg">
		<img src="/snapchallenge/images/background/4.jpg">
		<img src="/snapchallenge/images/background/5.jpg">
		<img src="/snapchallenge/images/background/6.jpg">
		<img src="/snapchallenge/images/background/7.jpg">
		<img src="/snapchallenge/images/background/9.jpg">
		<img src="/snapchallenge/images/background/8.jpg">
		<img src="/snapchallenge/images/background/10.jpg">
		<img src="/snapchallenge/images/background/11.jpg">
		<img src="/snapchallenge/images/background/12.jpg">
		<img src="/snapchallenge/images/background/13.jpg">
		<img src="/snapchallenge/images/background/14.jpg">
		<img src="/snapchallenge/images/background/15.jpg">
		<img src="/snapchallenge/images/background/16.jpg">
		<img src="/snapchallenge/images/background/17.jpg">
		<img src="/snapchallenge/images/background/18.jpg">
		<img src="/snapchallenge/images/background/19.jpg">
		<img src="/snapchallenge/images/background/20.jpg">
		<img src="/snapchallenge/images/background/21.jpg">
		<img src="/snapchallenge/images/background/22.jpg">
		<img src="/snapchallenge/images/background/23.jpg">
		<img src="/snapchallenge/images/background/24.jpg">
		<img src="/snapchallenge/images/background/25.jpg">
		<img src="/snapchallenge/images/background/26.jpg">
		<img src="/snapchallenge/images/background/27.jpg">
		<img src="/snapchallenge/images/background/28.jpg">
		<img src="/snapchallenge/images/background/29.jpg">
		<img src="/snapchallenge/images/background/30.jpg">
		<img src="/snapchallenge/images/background/31.jpg">
		<img src="/snapchallenge/images/background/32.jpg">
		<img src="/snapchallenge/images/background/33.jpg">
		<img src="/snapchallenge/images/background/34.jpg">
		<img src="/snapchallenge/images/background/35.jpg">
		<img src="/snapchallenge/images/background/36.jpg">
		<img src="/snapchallenge/images/background/37.jpg">
		<img src="/snapchallenge/images/background/38.jpg">
		<img src="/snapchallenge/images/background/39.jpg">
		<img src="/snapchallenge/images/background/40.jpg">
		<img src="/snapchallenge/images/background/41.jpg">
		<img src="/snapchallenge/images/background/42.jpg">
		<img src="/snapchallenge/images/background/43.jpg">
		<img src="/snapchallenge/images/background/44.jpg">
		<img src="/snapchallenge/images/background/45.jpg">
		<img src="/snapchallenge/images/background/46.jpg">
		<img src="/snapchallenge/images/background/47.jpg">
		<img src="/snapchallenge/images/background/48.jpg">
		<img src="/snapchallenge/images/background/49.jpg">
	</div>
	<header>
		<div id="header">
			<div id="festember">
				<b>Festember 2015</b>
				<br>
				presents
			</div>
			<div id="presents">
			</div>
			<div id="title">
				<img src="/snapchallenge/images/snapchat-logo.svg" id="snapchatlogo">
				SnapChallenge!
			</div>
			<div id="sponsored-by">
				Sponsored by
				<img src="/snapchallenge/images/redwolf-logo.png" id="sponsorlogo">
				<span id="sponsor-name">Redwolf</span>
			</div>
		</div>
	</header>


	<div class="row">

		<div class="col desc curl_effect">
			<b>Instructions:</b>
			<ol>
<li>Upload your pictures here along with your name, phone number, college and a suitable caption. Make sure your pictures are not more than 2MB.</li> 
<li>Your snap will be displayed on the official Festember Snapchat handle as a story on <u>24</u><sup>th</sup><u> September</u>.</li>
<li>People can cast their votes by taking a screenshot of the picture.</li>
<li>The photo with the most number of votes wins.</li>
<li>Exciting goodies up for grabs!</li>
			</ol>
			<div id="inner-rules">
			<hr>
			<br>
			<b>Rules:</b>
			<ol>
<li>No lewd, lascivious or salacious pictures will be entertained.</li>
<li>The deadline for sending in your photos is <u>23</u><sup>rd</sup><u> September, Wednesday, 11:59pm.</u></li>
<li>Only one entry per person.</li>
<li>Organisers' decisions are final and binding.</li>
</ol></div>
		</div>

		<div class="rules col">
			<div class="rulescontainer">
				<b>Rules:</b>
				<ol>
					<li>No lewd, lascivious or salacious pictures will be entertained.</li>
					<li>The deadline for sending in your photos is <u>23</u><sup>rd</sup><u> September, Wednesday, 11:59pm.</u></li>
					<li>Only one entry per person.</li>
					<li>Organisers' decisions are final and binding.</li>
				</ol>
			</div>
		</div>

		<div class="col frmcontainer">
			<form enctype="multipart/form-data" method="post" action="/snapchallenge" id="frm" class="curl_effect">
				<fieldset>
					<label for="name">Name</label>
					<input type="text" name="name" placeholder="Your name..." value="{{session.name}}">
					<span class="error">{{errors.name}}</span>
				</fieldset>

				<fieldset>
					<label for="contact">Phone number</label>
					<input type="tel" name="contact" placeholder="Your phone number..." value="{{session.contact}}">
					<span class="error">{{errors.contact}}</span>
				</fieldset>

				<fieldset>
					<label for="college">College</label>
					<input type="text" name="college" placeholder="Your college name..." value="{{session.college}}">
					<span class="error">{{errors.college}}</span>
				</fieldset>

				<fieldset>
					<label for="caption">Caption</label>
					<input type="text" name="caption" id="caption" placeholder="Caption of your pic...">
				</fieldset>

				<fieldset>
					<label for="pic">Pick a pic</label>
					<input type="file" name="pic" id="pic" accept="image/*">
					<span class="error">{{errors.pic}}</span>
				</fieldset>


				<fieldset>
					<input type="submit" id="submit" name="submit" value="Upload!">
				</fieldset>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		var form = document.getElementById('frm');
		form.addEventListener('submit', function() {
			if(typeof FileReader !== "undefined") {
				var size = document.getElementById('pic').files[0].size;
				if(size <= {{config.uploadLimit}}) {
					return true;
				}
				// fail the upload
				alert("File too big");
				return false;
			}
		}, false);

		var done = {{ done }};
		if(done) {
			alert("Thanks for uploading!");
		}
	</script>
</body>
</html>